.sidebar{
    display: block;
}
.sidenav-links{
    color: black;
    font-family: 'Roboto Condensed', sans-serif;

}
.sidenav-links:hover{
    color: rgb(190, 190, 190);
}

@media (max-width: 880px){
    .sidebar{
        display: none;
    }
}
